\.idea/
\.vscode/

build/

\.DS_Store

dictu

dictu\.dSYM/Contents/Info\.plist

test/
history\.txt

text\.txt

*.py
*.pyc

benchmark.sh

out.txt

time.du

test.du

coverage/

compile_commands.json

venv/

cmake-build-debug/CMakeFiles/clion-log.txt

docs/.jekyll-cache/
docs/_site/
cmake-build-debug/

cmake-build-release/

.vs/

dictu.exe

dictu.exe.manifest

CMakeSettings.json

dictu.ilk

dictu.pdb

test1.du
